---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <h1 class="text-3xl font-bold mb-4">Welcome to MALAPA Collaboration</h1>
  <p>This is an international collaboration focused on applying machine learning to partcile accelerators</p>
</BaseLayout>