---
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="max-w-3xl mx-auto p-4 font-sans text-gray-800">
    <Navbar />
    <main class="mt-8">
      <slot />
    </main>
  </body>
</html>